{% block header %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/sistemas.css" media="all">
    <link rel="shortcut icon" href="/static/images/logotipo/simbolo-preto.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" media="all">
    <title>{{title}}</title>
</head>
{% endblock %}
<body>
    {% block body %}
    <div class="container">

    </div>
    {% endblock %}
    {% block footer %}
    <footer class="footer">

    </footer>
    {% endblock %}
</body>